<div class="container">
    <div class="row">
      <div class="col-sm-offset-4 col-sm-4">
          <form>
            <div class="form-group">
              <label for="shortlink">Enter Link to Shorten</label>
              <input type="text" name="shortlink" class="form-control" value="www.example.com">
            </div>
            <button type="submit" name="button">Shorten!</button>
          </form>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-sm-offset-4 col-sm-4">
        <div class="alert alert-success" role="alert">
          <h4>Your shortened link is:</h4>
          <a href="#">www.shrt.com/0001</a>
        </div>
      </div>
    </div>
</div>
