<div class="panel panel-default">
  <div class="panel-heading">View URLs</div>
</div>
<table class="table">
  <thead>
    <th>TinyURL</th>
    <th>Destination</th>
  </thead>
  <tbody>
    <tr>
      <td><a href="#">0000</a></td>
      <td><a href="#">example.com</a></td>
    </tr>
    <tr>
      <td><a href="#">0001</a></td>
      <td><a href="#">example.com</a></td>
    </tr>
    <tr>
      <td><a href="#">0002</a></td>
      <td><a href="#">example.com</a></td>
    </tr>
  </tbody>
</table>
