<div class="container">
    <div class="row">
      <div class="col-sm-offset-4 col-sm-4">
          <%= bootstrap_form_for(@shortlink) do |f| %>
            <%= f.text_field :destination %>
            <%= f.text_field :slug %>
            <%= f.submit "Shorten!" %>
          <% end %>
      </div>
    </div>
</div>

<br>
